/* screen - frame-47 */

.frame-47 {
  background-color: transparent;
  height: 1502px;
  mix-blend-mode: normal;
  overflow-x: hidden;
  position: relative;
  width: 1063px;
}
.frame-47 .alyssa-suarez-C61RwL {
  background-color: transparent;
  height: 124px;
  left: 56px;
  mix-blend-mode: normal;
  position: absolute;
  top: 59px;
  width: 295px;
}
.frame-47 .analyzing-websi-signs-usability-C61RwL {
  background-color: transparent;
  height: auto;
  left: 595px;
  letter-spacing: 0.00px;
  line-height: 32.9px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 681px;
  width: 441px;
}
.frame-47 .design-C61RwL {
  background-color: transparent;
  height: 23px;
  left: 123px;
  mix-blend-mode: normal;
  position: absolute;
  top: 983px;
  width: 72px;
}
.frame-47 .designed-an-exp-an-online-store-C61RwL {
  background-color: transparent;
  height: auto;
  left: 595px;
  letter-spacing: 0.00px;
  line-height: 32.9px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 894px;
  width: 441px;
}
.frame-47 .digital-designer-freelance-C61RwL {
  background-color: transparent;
  height: auto;
  left: 350px;
  letter-spacing: 0.00px;
  line-height: 33.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 899px;
  width: 210px;
}
.frame-47 .education-C61RwL {
  background-color: transparent;
  height: 27px;
  left: 350px;
  mix-blend-mode: normal;
  position: absolute;
  top: 288px;
  width: 195px;
}
.frame-47 .ellipse-4-C61RwL {
  background-color: transparent;
  height: 1px;
  left: 580px;
  position: absolute;
  top: 702px;
  width: 1px;
}
.frame-47 .experience-C61RwL {
  background-color: transparent;
  height: 27px;
  left: 350px;
  mix-blend-mode: normal;
  position: absolute;
  top: 558px;
  width: 209px;
}
.frame-47 .figma-adobe-xd-p-maya3-d-asana-C61RwL {
  background-color: transparent;
  height: 250px;
  left: 123px;
  mix-blend-mode: normal;
  position: absolute;
  top: 390px;
  width: 156px;
}
.frame-47 .george-brown-co-lege-toronto-on-C61RwL {
  background-color: transparent;
  height: auto;
  left: 348px;
  letter-spacing: 0.00px;
  line-height: 22.7px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 445px;
  width: 274px;
}
.frame-47 .html-css-javascript-C61RwL {
  background-color: transparent;
  height: 98px;
  left: 160px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1279px;
  width: 120px;
}
.frame-47 .interaction-design-C61RwL {
  background-color: transparent;
  height: auto;
  left: 348px;
  letter-spacing: 0.00px;
  line-height: 22.0px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 407px;
  white-space: nowrap;
  width: 273px;
}
.frame-47 .interaction-design-VMr6Om {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: 31px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 29px;
  letter-spacing: 4.18px;
  line-height: 21.3px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 205px;
  white-space: nowrap;
  width: auto;
}
.frame-47 .jun-2020-jun-2021-C61RwL {
  background-color: transparent;
  height: auto;
  left: 348px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 625px;
  width: 284px;
}
.frame-47 .junior-hairstyl-alon-toronto-on-C61RwL {
  background-color: transparent;
  height: auto;
  left: 349px;
  letter-spacing: 0.00px;
  line-height: 34.2px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 1152px;
  width: 217px;
}
.frame-47 .line-10-C61RwL {
  background-color: transparent;
  height: 4px;
  left: 348px;
  position: absolute;
  top: 1128px;
  width: 689px;
}
.frame-47 .line-11-C61RwL {
  background-color: transparent;
  height: 4px;
  left: 348px;
  position: absolute;
  top: 666px;
  width: 689px;
}
.frame-47 .line-4-C61RwL {
  background-color: transparent;
  height: 8px;
  left: 368px;
  position: absolute;
  top: 216px;
  width: 670px;
}
.frame-47 .line-5-C61RwL {
  background-color: transparent;
  height: 4px;
  left: 347px;
  position: absolute;
  top: 379px;
  width: 336px;
}
.frame-47 .line-6-C61RwL {
  background-color: transparent;
  height: 4px;
  left: 699px;
  position: absolute;
  top: 379px;
  width: 336px;
}
.frame-47 .line-9-C61RwL {
  background-color: transparent;
  height: 4px;
  left: 348px;
  position: absolute;
  top: 879px;
  width: 689px;
}
.frame-47 .mar-2019-june-2021-C61RwL {
  background-color: transparent;
  height: auto;
  left: 348px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 838px;
  width: 326px;
}
.frame-47 .performed-clien-eds-assessments-C61RwL {
  background-color: transparent;
  height: auto;
  left: 595px;
  letter-spacing: 0.00px;
  line-height: 31.0px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 1153px;
  width: 445px;
}
.frame-47 .programming-C61RwL {
  background-color: transparent;
  height: 23px;
  left: 86px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1177px;
  width: 145px;
}
.frame-47 .psychology-C61RwL {
  background-color: transparent;
  height: auto;
  left: 699px;
  letter-spacing: 0.00px;
  line-height: 22.0px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 404px;
  white-space: nowrap;
  width: 173px;
}
.frame-47 .rectangle-1-C61RwL {
  background-color: var(--ceramic);
  height: 1502px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1063px;
}
.frame-47 .sep-2018-nov-2019-C61RwL {
  background-color: transparent;
  height: auto;
  left: 348px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 1090px;
  width: 284px;
}
.frame-47 .skills-C61RwL {
  background-color: transparent;
  height: 27px;
  left: 139px;
  mix-blend-mode: normal;
  position: absolute;
  top: 288px;
  width: 116px;
}
.frame-47 .software-tools-C61RwL {
  background-color: transparent;
  height: 20px;
  left: 74px;
  mix-blend-mode: normal;
  position: absolute;
  top: 348px;
  width: 182px;
}
.frame-47 .span0-CKNRso {

}
.frame-47 .span0-D8loi4 {

}
.frame-47 .span0-PWZdsX {

}
.frame-47 .span0-t90BMy {

}
.frame-47 .span0-xsphV1 {

}
.frame-47 .span1-CKNRso {

}
.frame-47 .span1-D8loi4 {
  line-height: 27.3px;
}
.frame-47 .span1-PWZdsX {
  color: var(--black);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
  line-height: 30.4px;
}
.frame-47 .span1-t90BMy {

}
.frame-47 .span1-xsphV1 {
  line-height: 27.3px;
}
.frame-47 .span2-PWZdsX {
  line-height: 27.9px;
}
.frame-47 .toronto-on-1-64-uarez88gmailcom-C61RwL {
  background-color: transparent;
  height: 108px;
  left: 716px;
  mix-blend-mode: normal;
  position: absolute;
  top: 88px;
  width: 319px;
}
.frame-47 .trent-universit-peterborough-on-C61RwL {
  background-color: transparent;
  height: auto;
  left: 699px;
  letter-spacing: 0.00px;
  line-height: 22.7px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 445px;
  width: auto;
}
.frame-47 .usability-teste-bilitytesingcom-C61RwL {
  background-color: transparent;
  height: auto;
  left: 350px;
  letter-spacing: 0.00px;
  line-height: 33.5px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 686px;
  width: 217px;
}
.frame-47 .user-research-w-ebsite-analysis-C61RwL {
  background-color: transparent;
  height: 215px;
  left: 76px;
  mix-blend-mode: normal;
  position: absolute;
  top: 764px;
  width: 202px;
}
.frame-47 .ux-methods-C61RwL {
  background-color: transparent;
  height: 19px;
  left: 94px;
  mix-blend-mode: normal;
  position: absolute;
  top: 677px;
  width: 131px;
}
.frame-47 .visual-design-b-a-visualization-C61RwL {
  background-color: transparent;
  height: 102px;
  left: 34px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1048px;
  width: 215px;
}
.frame-47 .x2015-2018-C61RwL {
  background-color: transparent;
  height: auto;
  left: 699px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 340px;
  width: 165px;
}
.frame-47 .x2019-2022-C61RwL {
  background-color: transparent;
  height: auto;
  left: 348px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 340px;
  width: 165px;
}
