@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,500|Roboto+Mono:700|Roboto+Condensed:400,700|Spartan:700");
* {
  box-sizing: border-box;
}
.container-center-horizontal {
  pointer-events: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.container-center-horizontal > * {
  pointer-events: auto;
  flex-shrink: 0;
}
.screen * {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
.screen a {
  text-decoration: none;
  display: contents;
}
.screen div {
  -webkit-text-size-adjust: none;
}
.screen textarea:focus,
.screen input:focus {
  outline: none;
}
.smart-layers-pointers,
.smart-layers-pointers * {
  pointer-events: auto;
  visibility: visible;
}
.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
